<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
        Test
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/Test/TestPage">Test page</a></li>
    </ul>
</li>