@page
@model RazorAddonViews.Pages.Test.SessionPageModel
@{
}

<div class="d-flex vh-100 justify-content-center align-items-center bg-light">
    <div class="text-center">
        <h3 class="display-4">@TempData["SessionData1"]</h3>
        <p class="lead">@TempData["SessionData2"]</p>
    </div>
</div>